<p id="notice"><%= notice %></p>

<h1>Hybrid Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hybrid_posts.each do |hybrid_post| %>
      <tr>
        <td><%= hybrid_post.title %></td>
        <td><%= hybrid_post.content %></td>
        <td><%= link_to 'Show', hybrid_post %></td>
        <td><%= link_to 'Edit', edit_hybrid_post_path(hybrid_post) %></td>
        <td><%= link_to 'Destroy', hybrid_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hybrid Post', new_hybrid_post_path %>
