<p id="notice"><%= notice %></p>

<h1>React Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @react_posts.each do |react_post| %>
      <tr>
        <td><%= react_post.title %></td>
        <td><%= react_post.content %></td>
        <td><%= link_to 'Show', react_post %></td>
        <td><%= link_to 'Edit', edit_react_post_path(react_post) %></td>
        <td><%= link_to 'Destroy', react_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New React Post', new_react_post_path %>
